@import "../variables";

.button {
  display: inline-block;
  background-color: $orange;
  padding: 4px;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
  transition: background-color $duration ease-in-out,
    border-color $duration ease-in-out;
  border: 1px solid transparent;
  @include noselect();

  &,
  span {
    color: $white;
  }

  &:active {
    background-color: darken($gray, 12%);
  }

  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    border-width: 2px;
  }

  &--black {
    background-color: $black;

    &:hover,
    &:active {
      background-color: lighten($color: $black, $amount: 10);
    }
  }

  &--outline {
    background-color: $orange;
    border-color: $white;
    &,
    span {
      color: $white;
    }

    svg {
      path {
        fill: $white;
      }
    }

    &:active {
      background-color: darken($gray, 8%);
    }
  }

  &__delimiter {
    width: 1px;
    height: 25px;
    background-color: $white;
    margin-left: 14px;
    margin-right: 14px;
  }

  &--add {
    svg {
      margin-right: 2px;
      margin-left: 3px;
    }

    span {
      font-weight: 600;
      font-size: 14px;
    }

    i {
      display: inline-block;
      color: $white;
      font-weight: 600;
      width: 22px;
      height: 22px;
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
      position: relative;
    }
  }

  &--cart {
    display: flex;
    align-items: center;

    svg {
      margin-right: 4px;
      margin-bottom: 2px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }
  }
}
